



<section class="disPlay1">
    <h2> Discovery </h2>

     <div class="blog-display1s container">

         <div class="display1 display1-1 col-sm-4 col-md-4">
            <h4>Company Info</h4>
            <ul style="list-style-type:none">
                <li>About Us</li>
                <li>Career Opportunities</li>
                <li>Blog</li>
            </ul>
         </div>
                
           

         <div class="display1 display1-2 col-sm-4 col-md-4">
           <h4>Customer Care</h4>
            <ul style="list-style-type:none">
                <li>Contact Us</li>
                <li>Store Hours</li>
                <li>Customer Service</li>
            </ul>
         </div>
                
                

         <div class="display1 display1-3 col-sm-4 col-md-4">
            <h4>Policy & Terms</h4>
            <ul style="list-style-type:none">
                <li>Terms & Conditions</li>
                <li>Privacy Policy</li>
                <li>Corporate Responsibility</li>
            </ul>
         </div>
                
         
    </div>


</section>









