

<section class="disPlay2">
    <h2> Passion </h2>

     <div class="blog-display2s container">

         <div class="display2 display2-1 col-sm-4 col-md-4">
            <h4></h4>
            <ul style="list-style-type:none">
                <li></li>
                <li></li>
                <li></li>
            </ul>
         </div>
                
           

         <div class="display2 display2-2 col-sm-4 col-md-4">
           <h4></h4>
            <ul style="list-style-type:none">
                <li></li>
                <li></li>
                <li></li>
            </ul>
         </div>
                
                

         <div class="display2 display2-3 col-sm-4 col-md-4">
            <h4></h4>
            <ul style="list-style-type:none">
                <li></li>
                <li></li>
                <li></li>
            </ul>
         </div>
                
         
    </div>


</section>
