


<section class="disPlay3">
    <h2> Spirit </h2>

     <div class="blog-display3s container">

         <div class="display3 display3-1 col-sm-4 col-md-4">
            <h4></h4>
            <ul style="list-style-type:none">
                <li></li>
                <li></li>
                <li></li>
            </ul>
         </div>
                
           

         <div class="display3 display3-2 col-sm-4 col-md-4">
           <h4></h4>
            <ul style="list-style-type:none">
                <li></li>
                <li></li>
                <li></li>
            </ul>
         </div>
                
                

         <div class="display3 display3-3 col-sm-4 col-md-4">
            <h4></h4>
            <ul style="list-style-type:none">
                <li></li>
                <li></li>
                <li></li>
            </ul>
         </div>
                
         
    </div>


</section>

