
<section class="large-window"></section>

<section class="footer">

     <div class="blog-posts container">

         <div class="post post-1 col-sm-4 col-md-4">
            <h4>Company Info</h4>
            <ul>
                <li>About Us</li>
                <li>Career Opportunities</li>
                <li>Blog</li>
            </ul>
         </div>
                
           

         <div class="post post-2 col-sm-4 col-md-4">
           <h4>Customer Care</h4>
            <ul>
                <li>Contact Us</li>
                <li>Store Hours</li>
                <li>Customer Service</li>
            </ul>
         </div>
                
                

         <div class="post post-3 col-sm-4 col-md-4">
            <h4>Policy & Terms</h4>
            <ul>
                <li>Terms & Conditions</li>
                <li>Privacy Policy</li>
                <li>Corporate Responsibility</li>
            </ul>
         </div>
                
         
    </div>


</section>









