

<section class="footer">

     <div class="blog-posts container">

         <div class="post post-1 col-sm-4 col-md-4">
            <h4>footer title 1</h4>
            <p> Just paste your Jade in the form below</p>
         </div>

         <div class="post post-2 col-sm-4 col-md-4">
            <h4>footer title 2</h4>
            <p> Just paste your Jade in the form below</p>
         </div>

         <div class="post post-3 col-sm-4 col-md-4">
            <h4>footer title 3</h4>
            <p> Just paste your Jade in the form below</p>
         </div>
         
    </div>


</section>