
<header class="diamond-box">
  <div class="back-diamond"></div>
  <div class="logo"></div>
  <div class="fore-diamond"></div>
  
</header>


<section class="content">

    <article>
        <h1>BLUE DIAMOND</h1>
        <hr>
        <p>Established in 1974, Blue Diamond (Liverpool) Ltd. is the culmination of the 
         creator’s addiction to design innovation married with luxury jewellery hand making 
         expertise and over 40 years of experience in the Global fine and fashion jewellery 
         industry. The creator behind the collections has worked with a variety of celebrities 
         on personal ranges and collections, catwalk pieces for catwalk shows and her designs 
         have been sold in the UK and around the World extensively. A passion for contemporary 
         styling, exquisite materials, and an understanding of timeless luxury has been brought 
         together in each collection. The multi award winning London based designer and her team 
         hand-picked master craftsmen in the UK turn the passion and concepts into a reality. 
         ‘Everyone deserves the best, a little luxury goes a long way to making you feel 
         fantastic. These pieces are modern day contemporary classics to inspire and which the
         wearer will adore wearing’. 
        </p>
    </article>

    <div style="height: 50px"></div>


</section>

