
<header class="diamond-box">
  <div class="back-diamond"></div>
  <div class="logo"></div>
  <div class="fore-diamond"></div>
  
</header>


<section class="content">

    <article>
        <h1>BLUE DIAMOND MATCH</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sit nobis odio.
             Assumenda nihil cupiditate, praesentium labore repellendus, perferendis ipsa 
             deleniti maxime expedita ex vel voluptatem dignissimos quidem consequatur 
             eveniet a hic alias, blanditiis sit provident! Unde, velit! Vel doloribus
              quibusdam nam tempora, eius eligendi sit at inventore, minus adipisci 
              laudantium accusantium atque optio aspernatur, iste earum! Ratione totam 
              quis cumque sunt nam aspernatur voluptates, placeat, molestias tempore hic 
              vero qui explicabo, reiciendis rerum enim earum laboriosam eligendi voluptate 
              animi reprehenderit architecto repellendus alias error. Ratione eius, quidem
               ipsam eaque labore quas non doloremque! Deserunt obcaecati 
               vel nobis blanditiis Bank.
        </p>
    </article>

    <div style="height: 50px"></div>


</section>

