
<div class="showBG">
     <div class="showBGtext">
        <span class="showBGtextborder">
          TO A REALISTIC HUMAN DRAMA
        </span>
     </div>

    <div class="showFG">
         <div class="showFGtext">
            <span class="showFGtextborder">
              FROM AN ABSTRACT IDEA
            </span>
         </div>
    </div>

 </div>

<section class="content">

    <article>
        <h1>ALL TOGETHER WITH</h1>
        <hr>
        <p>Choosing the perfect engagement ring can be difficult when you know exactly what you
         want but just can’t seem to find it. Luckily for you, <cite>Bank Wattanap</cite>. makes these incredible 
         designer pieces in-house. That allows for many modifications to be made to the designs.
         Customizing your ring is a great way to take our existing pieces and mix them with your
         ideas to create the perfect masterpiece for the special <cite>Fairy</cite> in your life.
        </p>
        
    </article>

    


</section>