
<header class="show">
  <div class="back-diamond"></div>
  <div class="logo"></div>
  <div class="fore-diamond"></div>
</header>

<section class="content">

    <article>
        <h1>FAIRY</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sit nobis odio.
             Assumenda nihil cupiditate, praesentium labore repellendus, perferendis ipsa 
             deleniti maxime expedita ex vel voluptatem dignissimos quidem consequatur 
             eveniet a hic alias, blanditiis sit provident! Unde, velit! Vel Fairy.
        </p>
    </article>

    


</section>