


.navbar {
    background-color: #E6F1F8;
   
}

.thumbnail {
    border: 1px solid #E6F1F8;
    opacity: 0;
    transform: translateX(-30px);
    transition: all 0.2s ease-in-out;
    
}

.thumbnail img {
    max-height: 150px;
    
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: lightseagreen;
}

.title {
    color: #188FB1;
}

/* ---- under this line is for parallex ---- */

.body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: #5D95E6;
    font-weight: 300;
}

h4 {
    color: #000000 important;
    font-weight: 300;
}

figure{
    margin: auto;
}

.content article {
    padding: 30px 0 0 0;
    max-width: 640px;
    margin: 0px auto;
    text-align: center;
}

img {
    max-width: 100%;
}

/* ----under this line is for Parallax BG ----- */

.diamond-box {
    position: relative;
    height: 600px;
    background-image: url("../images/diamond-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

.logo {
    height: 100px;
    width: 100%;
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

.fore-diamond {
    width: 1000px;
    height: 850px;
    background-image: url("../images/blue-diamond.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    left: 50%;
    margin-left: -380px;
  
}

.back-diamond {
    width: 600px;
    height: 600px;
    background-image: url("../images/light.png");
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    margin-top: -120px;
    
}

/* ---- for Products moving ---- */

.is-showing {
    opacity: 1;
    transform: translateX(0px);
    
}

/* ---- Pic ZooM ---- */

.img-responsive:hover {
    transform: scale(1.2);
}

.price:hover {
    color: #EE9DDA;
    transform: scale(1.2);
}

/* ---- large-window ----*/

.large-window {
    
    height: 300px;
    margin-top: 20px;
    border-radius: 50%;
    background-image: url("../images/dw2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/* ---- disPlay1 ----*/



.disPlay1 {
    position: relative;
    height: 500px;
    background-image: url("../images/display-1/bg-dp.jpg");
    opacity: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden; 
}

.disPlay1 h2 {
    text-align: center;
    color: black;
    opacity: 1;
}

.blog-display1s {
    margin-top: 60px;
    
}

.blog-display1s .display1 {
    height: 370px;
    border: 0px solid #0C0000;
    padding: 5px 25px 0;
    position: relative;
    background-color: #F1ECE6;
    opacity: 0.7; 
    border-radius: 50%;
    text-align: center;
}



.blog-display1s .display1-1 {
    background-image: url("../images/display-1/dp-1.gif");
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(100px, 30px);
}

.blog-display1s .display1-2 {
    z-index: 2;
    background-image: url("../images/display-1/dp-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.blog-display1s .display1-3 {
    background-image: url("../images/display-1/dp-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-100px, 30px);
}



/* ---- disPlay2 ----*/



.disPlay2 {
    position: relative;
    height: 500px;
    background-image: url("../images/display-2/rf4.jpg");
    opacity: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden; 
}

.disPlay2 h2 {
    text-align: center;
    color: black;
    opacity: 1;
}

.blog-display2s {
    margin-top: 60px;
    
}

.blog-display2s .display2 {
    height: 350px;
    border: 0px solid #0C0000;
    padding: 5px 25px 0;
    position: relative;
    background-color: #F1ECE6;
    opacity: 0.7; 
    border-radius: 50%;
    text-align: center;
}



.blog-display2s .display2-1 {
    background-image: url("../images/display-2/rf1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(100px, 30px);
}

.blog-display2s .display2-2 {
    z-index: 2;
    background-image: url("../images/display-2/rf2.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.blog-display2s .display2-3 {
    background-image: url("../images/display-2/rf5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-100px, 30px);
}



/* ---- disPlay3 ----*/



.disPlay3 {
    position: relative;
    height: 500px;
    background-image: url("../images/display-3/b4.jpg");
    opacity: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden; 
}

.disPlay3 h2 {
    text-align: center;
    color: black;
    opacity: 1;
}

.blog-display3s {
    margin-top: 60px;
    
}

.blog-display3s .display3 {
    height: 370px;
    border: 0px solid #0C0000;
    padding: 5px 25px 0;
    position: relative;
    background-color: #F1ECE6;
    opacity: 0.7; 
    border-radius: 50%;
    text-align: center;
}



.blog-display3s .display3-1 {
    background-image: url("../images/display-3/b2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(100px, 30px);
}

.blog-display3s .display3-2 {
    z-index: 2;
    background-image: url("../images/display-3/b1.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.blog-display3s .display3-3 {
    background-image: url("../images/display-3/b3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-100px, 30px);
}

/* ---- show ----*/

.show {
    position: relative;
    height: 500px;
    background-image: url("../images/fdw.jpg");
    opacity: 1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden; 
}
