
.navbar {
    background-color: #E6F1F8;
}

.thumbnail {
    border: 1px solid #E6F1F8;
}

.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: lightseagreen;
}

.title {
    color: #188FB1;
}

/* ---- under this line is for parallex ---- */

.body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: #5D95E6;
    font-weight: 300;
}

h4 {
    color: #000000 important;
    font-weight: 300;
}

figure{
    margin: auto;
}

.content article {
    padding: 30px 0 0 0;
    max-width: 640px;
    margin: 0px auto;
    text-align: center;
}

img {
    max-width: 100%;
}

/* ----under this line is for Parallax BG ----- */

.diamond-box {
    position: relative;
    height: 600px;
    background-image: url("../images/diamond-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

.logo {
    height: 100px;
    width: 100%;
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

.fore-diamond {
    width: 1000px;
    height: 850px;
    background-image: url("../images/blue-diamond.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    left: 50%;
    margin-left: -380px;
  
}

.back-diamond {
    width: 600px;
    height: 600px;
    background-image: url("../images/light.png");
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    margin-top: -120px;
    
}

/* ---- Footer ----*/

.footer {
    position: relative;
    height: 500px;
    background-image: url("../images/footer.jpg");
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden; 
}

.blog-posts {
    margin-top: 40px;
    
}

.blog-posts .post {
    border: 0px solid #0C0000;
    padding: 5px 25px 0;
    position: relative;
    background-color: #F1ECE6;
    opacity: 0.5; 
}



.blog-posts .post-1 {
    transform: translate(100px, 20px);
}

.blog-posts .post-2 {
    z-index: 2;
    
}

.blog-posts .post-3 {
    transform: translate(-100px, 20px);
}